<!DOCTYPE html>
<html lang="en">
    <title>Academics</title>
    <head>
        <div id="topBar">
            <h1 id="title">Academics</h1>
        </div>
        <link rel="stylesheet" href="/academics.css">
    </head>
    <body>
        <a href="dashboard" id="backButton">Back to Dashboard</a>
        <div>
            <button id="addPostBtn">Write a post</button>
        </div>
        <div id="inputBox" class="hidden">
            <button id="closeForm">X</button>
            <form action="/academics" method="POST" id="postForm">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                <br><br>
                <label for="content">Write sth: </label>
                <textarea id="content" name="content" required></textarea>
                <input type="hidden" value="academics" name="group">
                <!-- Make sure 'username' is defined and passed to the template -->
                <input type="hidden" value="<%= username %>" name="username">
                <br><br>
                <button>Post</button>
            </form>
            </div>
        <div class="bg">
            <div id="posts" class="word-box">
                <% reversedPosts.forEach(post => { %>
                    <br>
                    <div class="posts">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
                    <p>posted by <%= post.username %></p>
                    
                    <br><br><br>
                    <div>
                        <p>posted on <%= post.postingtime %></p>
                    </div>
                    
                    
                    <% if(post.username === username && username != 'admin1' && username != 'Admin') { %>
                        <form action="/academicsDeletePost" method="POST" id="deletePost">
                            <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                            <button>Delete Post</button>
                        </form>
                    <% } if(username == 'admin1' || username == 'Admin') {%>
                        <form action="/academicsDeletePost" method="POST" id="deletePost">
                        <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                        <button>Admin Delete</button>
                    </form> 
                    <% }%>

                </div>
                    <form action="/likeAcademicsPost" method="POST" id="likePost">
                        <input type="hidden" name="postId" value="<%= post.id %>">
                        <input type="hidden" name="username" value="<%= username %>">
                        <input type="hidden" name="forum" value="academics">
                        <button>Like</button>
                    </form>
                    <%var likes = 0 %>
                    <% academicsPostsLikes.forEach(like => { %>
                        <% if(like.postId == post.id) { %>
                            <% likes = likes + 1 %>
                        <%  } %>
                    <% }) %>
                    <h1 class="postLikes">Likes: <%= likes %></h1>

                <% }); %>
            </div>
        </div>
        <script>

            document.getElementById("addPostBtn").addEventListener("click", function() {
                document.getElementById("inputBox").classList.remove("hidden")
            })

            document.getElementById("closeForm").addEventListener("click", function() {
                document.getElementById("inputBox").classList.add("hidden")
            })

        </script>
        <div id="spacing"></div>
    </body>
</html>