<!DOCTYPE html>
<html lang="en">
    <title>General</title>

    <style>
        html{
            width: 100%;
        }
        h1 {
            font-size: 30px;
            position: relative;
            left: 10px;
            color: aliceblue;
        }

        body {
            margin: 0;
            margin-top: 50px;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            position: relative;
            padding: 0;
            font-family: 'poppins',sans-serif;
            background: url('2.png') no-repeat;
            background-position: top;
            background-size: cover;
            background-attachment: fixed;
        }
        .hidden {
            display: none;
        }

        .title {
            font-size: 18px;
            position: relative;
            left: 20px;
            top: 12.5px;
            font-weight: 600;
            color: aliceblue;
            text-decoration: none;
        }

        #topBar {
            padding: 5px 0; /* Adjust the padding */
            width: 100%;
            height: 50px;
            background-color: #282828;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }

        #inputBox {
            position: fixed;
            top: 200px;
            left: 750px;
            width: 40%;
            background-color: rgb(216, 207, 207);
            padding: 20px;
            box-shadow: 0px -2px 5px black;
            border-radius: 20px;
        }

        .posts {
            border: white solid 2px;
            padding-left: 20px;
            padding-right: 0px;
            padding-bottom: 20px;
            width: 600px;
            margin: 10px;
            border-radius: 26px;
            background-color: white;
            color: black;
            opacity: 1;
            position: relative;
            left: 30px;
        }

        #spacing {
            height: 200px;
        }

        #addPostBtn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border: none;
        left: 800px;
        top:55px;
        border-radius: 12px;
        padding: 10px;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease-in-out;
    }
    
    /* Adjust icon and text spacing */
    #addPostBtn ion-icon {
        margin-right: 5px;
    }
    #addPostBtn:hover {
        background-color: #ccc;
    }

        #closeForm {
            position: relative;
            left:550px;
        }

        .postLikes{
            color: black;
            font-weight: 500;
            font-size: 28px;
            position: relative;
            left: 600px;
            bottom: 128px;
        }
        .heart{
            color: red;
        }
        #backButton{
            color: white;
            position: relative;
            font-size: 20px;
            top: 25px;
            left: 40px;
            text-decoration: none;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
        #backButton:hover {
                    background-color: rgba(300, 300, 300, 0.2);
                    color: #fff;
                }

                #backButton:active {
                    animation: click-effect 0.3s ease-in-out;
                }

                @keyframes click-effect {
                    0% {
                    transform: scale(1);
                    }
                    50% {
                    transform: scale(0.9);
                    }
                    100% {
                    transform: scale(1);
                    }
                }
        .heart-button {
            display: inline-block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            display: flex;
            position: relative;
            font-size: 40px;
            left: 550px;
            bottom: 70px;
            color: red;
        }

        .heart-button ion-icon {
            color: red;
            font-size: 40px;
        }
#inputBox {
        width: 300px;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        position: absolute;
    }
    
    #closeForm {
        color: black;
        left: 280px;
        bottom: 50px;
        border: none;
        padding: none;
        background-color: transparent;
        position: relative;
        font-size: 20px;
        cursor: pointer;
    }
    
    #postForm {
        margin-top: 20px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        resize: vertical;
    }
    
    .Btn {
        background-color: #ec3da0;
        position: relative;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }
    button.Btn:hover {
        background-color: #a04597;
    }
    
    
    br {
        line-height: 12px;
    }

    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  right: 150px;
  top: 8px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.posta {
    position: relative;
    left: 70px;
    bottom: 18px;
    white-space: nowrap;
    font-size: 20px;
    display: inline-block;
}
.switchForm {
    position: relative;
    left: 150px;
    top: 80px;
}
.BtnP{
    bottom: 70px;
    background-color: #ec3da0;
        position: relative;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
}
button.BtnP:hover {
        background-color: #a04597;
    }
    footer{
    background-color: rgba(51, 51, 51, 0.2);
    padding: 20px;
    color: #F4A896;
    text-align: center;
}
.sm a{
    display: inline-flex;
    text-decoration: none;
    font-size: 36px;
    width: 60px;
    height: 60px;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 7px;
  }
  .sm a::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    z-index: -1;
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1)::before{
    background: #38529a;
  }
  .sm a:nth-child(2)::before{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  }
  .sm a:nth-child(3)::before{
    background: #1c96e9;
  }
  .sm a:nth-child(4)::before{
    background: #f70000;
  }
  .sm a:nth-child(5)::before{
    background: #046596;
  }
  .sm a:hover::before{
    transform: scale(0);
  }
  .sm a i{
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1):hover i{
    background: #38529a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(2):hover i{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(3):hover i{
    background: #1c96e9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(4):hover i{
    background: #f70000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(5):hover i{
    background: #046596;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }

  #commentBtn {
    position: relative;
    left: 200px;
  }

  #commentSection {
    width: 300px;
    height: 320px;
    background-color: white;
  }

    </style>



    <head>
        <div id="topBar">
            <a href="intro" class="title">General</a>
        </div>
        <br>
        <br>
        <link rel="stylesheet" href="/general.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <a href="dashboard" id="backButton">Back to Dashboard</a>
        <div>
            <button id="addPostBtn">
                <ion-icon name="chatbox-outline"></ion-icon>
                <span>Write a post</span>
            </button>
        </div>
        <div id="inputBox" class="hidden">
            <form id="postForm">
                <button id="closeForm">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </button>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                <br><br>
                <label for="content">Write sth: </label>
                <textarea type="text" id="content" name="content" required></textarea>
                <input type="hidden" value="general" name="group">
                <!-- Make sure 'username' is defined and passed to the template -->
                <input type="hidden" value="<%= username %>" name="username">
                <div class="switchForm">
                    <label class="switch">
                        <input type="checkbox" name = "postAnonymous">
                        <span class="slider round">
                            <h6 class="posta">Post anonymously</p>
                        </span>
                    </label>
                </div>
                <div id="uploadPostStatus"></div>
                <br><br>
                <button class="BtnP">Post</button>
            </form>
            <script>
                jQuery(document).ready(function() {
                    jQuery('#postForm').submit((function(event) {
                        event.preventDefault();

                        var form = jQuery(this);
                        var formData = form.serialize();

                        var submitButton = form.find('button[type="submit"]');
                        submitButton.prop('disabled', true);

                        form.append('<p>Loading...</p>');

                        jQuery.ajax({
                            type: 'POST',
                            url: '/general',
                            data: formData,
                            success: function(response) {
                                form.append('<p>Form submitted successfully!</p>');
                                form.trigger('reset');
                                submitButton.prop('disabled', false);
                            },
                            error: function(error) {
                                form.append('<p>An error');
                                submitButton.prop('disabled', false);
                            },
                            complete: function() {
                                form.find('p').remove();
                                window.location.reload();
                            }
                        })
                    }))
                })
            </script>
        </div>
        <div class="bg">
            <div id="posts" class="word-box">
                <% reversedPosts.forEach(post => { %>
                    <br>
                    <div class="posts">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
                    <% if (post.postAnonymous === 'false' | post.postAnonymous == null | username === 'admin1' | username === 'Admin' ) { %>
                        <p>posted by <%= post.username %></p>
                    <% } %>
                    
                    <br><br><br>
                    <div>
                        <p>posted on <%= post.postingtime %></p>
                    </div>
                    <br>
                    
                    <% if(post.username === username && username != 'admin1' && username != 'Admin') { %>
                        <form action="/generalDeletePost" method="POST" id="deletePost">
                            <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                            <button class="Btn">Delete Post</button>
                        </form>
                    <% } if(username == 'admin1' || username == 'Admin') {%>
                        <form action="/generalDeletePost" method="POST" id="deletePost">
                        <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                        <button class="Btn">Admin Delete</button>
                    </form> 
                    <% }%>

                </div>

                    <form id="likePost<%= post.id %>" class="like-form">
                        <input type="hidden" name="postId" value="<%= post.id %>">
                        <input type="hidden" name="username" value="<%= username %>">
                        <input type="hidden" name="forum" value="general">
                            <% var isLiked = false %>
                            <% generalPostsLikes.forEach(like => { %>
                                <% if(like.username == username && like.postId == post.id) { %>
                                    <% isLiked = true %>
                                <% } %>
                            <% }) %>
                            <% if(isLiked) { %>
                                <button class="heart-button"><ion-icon name="heart"></ion-icon></button>
                            <% } else {%>
                                <button class="heart-button"><ion-icon name="heart-outline"></ion-icon></button>
                            <% } %> 
                      

                    </div>


                    <script>
                        jQuery(document).ready(function() {
                            jQuery('#likePost<%= post.id %>').submit((function(event) {
                                event.preventDefault();
                
                                var form = jQuery(this);
                                var formData = form.serialize();
                
                                var submitButton = form.find('button[type="submit"]');
                                submitButton.prop('disabled', true);
                
                                form.append('<p>Loading...</p>');
                
                                jQuery.ajax({
                                    type: 'POST',
                                    url: '/likeGeneralPost',
                                    data: formData,
                                    success: function(response) {
                                        form.append('<p>Form submitted successfully!</p>');
                                        form.trigger('reset');
                                        submitButton.prop('disabled', false);
                                    },
                                    error: function(error) {
                                        form.append('<p>An error</p>');
                                        submitButton.prop('disabled', false);
                                    },
                                    complete: function() {
                                        form.find('p').remove();
                                        window.location.reload();
                                    }
                                });
                            }));
                        });
                    </script>

                    

                    <form action="/commentGeneralPost" method="POST" id="commentPost<%= post.id%>" class="comment-form">
                        <input type="hidden" name="postId" value="<%= post.id %>">
                        <input type="text" name="content">
                        <input type="hidden" name="username" value="<%= username %>">
                        <button>post</button>
                    </form>

                    <script>
                        jQuery(document).ready(function() {
                            jQuery('#commentPost<%= post.id %>').submit((function(event) {
                                event.preventDefault();
                
                                var form = jQuery(this);
                                var formData = form.serialize();
                
                                var submitButton = form.find('button[type="submit"]');
                                submitButton.prop('disabled', true);
                
                                form.append('<p>Loading...</p>');
                
                                jQuery.ajax({
                                    type: 'POST',
                                    url: '/commentGeneralPost',
                                    data: formData,
                                    success: function(response) {
                                        form.append('<p>Form submitted successfully!</p>');
                                        form.trigger('reset');
                                        submitButton.prop('disabled', false);
                                    },
                                    error: function(error) {
                                        form.append('<p>An error</p>');
                                        submitButton.prop('disabled', false);
                                    },
                                    complete: function() {
                                        form.find('p').remove();
                                        window.location.reload();
                                    }
                                });
                            }));
                        });
                    </script>


>>>>>>> 0152ff2a47e3dada9f56b6e27c924e502b2de846
                    <div>
                    <%var likes = 0 %>
                    <% generalPostsLikes.forEach(like => { %>
                        <% if(like.postId == post.id) { %>
                            <% ++likes %>
                        <%  } %>
                    <% }) %>

                    <h1 class="postLikes"><%= likes %></h1>

                    <button id="commentBtn"><ion-icon name="create-outline"></ion-icon></button>
                    <button id="closeCommentForm">X</button>
                    <div id="commentSection" class="hidden">
                      <form action="/commentGeneralPost" method="POST" id="commentPost" class="comment-form">
                          <input type="hidden" name="postId" value="<%= post.id %>">
                          <input type="text" name="content" id="content">
                          <input type="hidden" name="username" value="<%= username %>">
                          <button>post</button>
                      </form>
                    </div>

                    <!--<% generalPostsLikes.forEach(like => { %>
                            <% if(like.username == username && like.postId == post.id) { %>
                                <h3 class="Liked">Liked!</h3>
                            <% } %>
                    <% }) %>-->

                   <% })%>
                   
                    </div>
            </div>
        </div>
        <script>
            document.getElementById("addPostBtn").addEventListener("click", function() {
                document.getElementById("inputBox").classList.remove("hidden")
            })

            document.getElementById("closeForm").addEventListener("click", function() {
                document.getElementById("inputBox").classList.add("hidden")
            })

            document.getElementById("commentBtn").addEventListener("click", function() {
                document.getElementById("commentSection").classList.remove("hidden")
            })

            document.getElementById("closeCommentForm").addEventListener("click", function() {
                document.getElementById("commentSection").classList.add("hidden")
            })


            

        </script>
        <div id="spacing"></div>
        <br>
        <footer>
            <div class="sm">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCxfAOHhw3eAXNsgu3dVHGkQ"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <hr>
            <p>&copy; 2023 Oasis. All rights reserved.</p>
        </footer>
    </body>
</html>
