<!DOCTYPE html>
<html lang="en">
    <title>General</title>
    <style>
        h1 {
    font-size: 20px;
    position: relative;
    left: 10px;
    color: aliceblue;
}

body {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    height: 170%;
    position: relative;
}

html {
    margin: 0;
    padding: 0;
    height: 150%;
    width: 100%;
    background: url('2.png') no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.hidden {
    display: none;
}

#title {
    position: relative;
    left: 20px;
}

#topBar {
    padding: 5px 0; /* Adjust the padding */
    width: 100%;
    background-color: #282828;
    color: rgb(180, 171, 171);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#inputBox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(216, 207, 207);
    padding: 20px;
    box-shadow: 0px -2px 5px black;
}

.posts {
    border: white solid 2px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    width: 600px;
    margin: 10px;
    border-radius: 26px;
    background-color: white;
    color: black;
    opacity: 1;
    position: relative;
    left: 20px;
}

#spacing {
    height: 150px;
}
    </style>
    <head>
        <div id="topBar">
            <h1 id="title">General</h1>
        </div>
        <link rel="stylesheet">
    </head>
    <body>
        <div class="bg">
            <div id="posts" class="word-box">
                <% generalPosts.forEach(post => { %>
                    <br>
                    <div class="posts">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
                    <p>posted by <%= post.username %></p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#2a2b2c}</style><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
                    <i class="fa-regular fa-heart fa-xl" style="color: #2a2b2c;"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f10909}</style><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                    <i class="fa-solid fa-heart fa-xl" style="color: #f10909;"></i>
                    <br><br><br>
                    
                    <% if(post.username === username && username != 'admin1' && username != 'Admin') { %>
                        <form action="/generalDeletePost" method="POST" id="deletePost">
                            <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                            <button>Delete Post</button>
                        </form>
                    <% } if(username == 'admin1' || username == 'Admin') {%>
                        <form action="/generalDeletePost" method="POST" id="deletePost">
                        <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                        <button>Delete Post</button>
                    </form> 
                    </div>
                    <% }%>
                <% }); %>
            </div>
        </div>
        <div>
            <button id="addPostBtn">Write a post</button>
        </div>
        <div id="inputBox" class="hidden">
        <button id="closeForm">X</button>
        <form action="/general" method="POST" id="postForm">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br><br>
            <label for="content">Write sth: </label>
            <textarea id="content" name="content" required></textarea>
            <input type="hidden" value="general" name="group">
            <!-- Make sure 'username' is defined and passed to the template -->
            <input type="hidden" value="<%= username %>" name="username">
            <br><br>
            <button>Post</button>
        </form>
        </div>
        <script>

            document.getElementById("addPostBtn").addEventListener("click", function() {
                document.getElementById("inputBox").classList.remove("hidden")
            })

            document.getElementById("closeForm").addEventListener("click", function() {
                document.getElementById("inputBox").classList.add("hidden")
            })

        </script>
        <div id="spacing"></div>
    </body>
</html>