<!DOCTYPE html>
<html lang="en">
    <title>General</title>
    <style>
        h1 {
            font-size: 30px;
            position: relative;
            left: 10px;
            color: aliceblue;
        }

        body {
            margin: 0;
            margin-top: 50px;
            padding: 0;
            width: fit-content;
            height: 170%;
            position: relative;
            padding: 0;
            font-family: 'poppins',sans-serif;
            background: url('2.png') no-repeat;
            background-position: top;
            background-size: cover;
            background-attachment: fixed;
        }
        .hidden {
            display: none;
        }

        .title {
            font-size: 18px;
            position: relative;
            left: 20px;
            top: 12.5px;
            font-weight: 600;
            color: aliceblue;
            text-decoration: none;
        }

        #topBar {
            padding: 5px 0; /* Adjust the padding */
            width: 100%;
            height: 50px;
            background-color: #282828;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }

        #inputBox {
            position: fixed;
            top: 200px;
            left: 750px;
            width: 40%;
            background-color: rgb(216, 207, 207);
            padding: 20px;
            box-shadow: 0px -2px 5px black;
            border-radius: 20px;
        }

        .posts {
            border: white solid 2px;
            padding-left: 20px;
            padding-right: 0px;
            padding-bottom: 20px;
            width: 600px;
            margin: 10px;
            border-radius: 26px;
            background-color: white;
            color: black;
            opacity: 1;
            position: relative;
            left: 30px;
        }

        #spacing {
            height: 200px;
        }

        #addPostBtn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border: none;
        left: 800px;
        top:55px;
        border-radius: 12px;
        padding: 10px;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease-in-out;
    }
    
    /* Adjust icon and text spacing */
    #addPostBtn ion-icon {
        margin-right: 5px;
    }
    #addPostBtn:hover {
        background-color: #ccc;
    }

        #closeForm {
            position: relative;
            left:550px;
        }

        .postLikes{
            color: black;
            font-weight: 500;
            font-size: 28px;
            position: relative;
            left: 600px;
            bottom: 128px;
        }
        .heart{
            color: red;
        }
        #backButton{
            color: white;
            position: relative;
            font-size: 20px;
            top: 25px;
            left: 40px;
            text-decoration: none;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
        #backButton:hover {
                    background-color: rgba(300, 300, 300, 0.2);
                    color: #fff;
                }

                #backButton:active {
                    animation: click-effect 0.3s ease-in-out;
                }

                @keyframes click-effect {
                    0% {
                    transform: scale(1);
                    }
                    50% {
                    transform: scale(0.9);
                    }
                    100% {
                    transform: scale(1);
                    }
                }
        .heart-button {
            display: inline-block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            display: flex;
            position: relative;
            font-size: 40px;
            left: 550px;
            bottom: 70px;
            color: red;
        }

        .heart-button ion-icon {
            color: red;
            font-size: 40px;
        }
#inputBox {
        width: 300px;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        position: absolute;
    }
    
    #closeForm {
        color: black;
        left: 280px;
        bottom: 50px;
        border: none;
        padding: none;
        background-color: transparent;
        position: relative;
        font-size: 20px;
        cursor: pointer;
    }
    
    #postForm {
        margin-top: 20px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        resize: vertical;
    }
    
    .Btn {
        background-color: #ec3da0;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }
    button.Btn:hover {
        background-color: #a04597;
    }
    
    
    br {
        line-height: 12px;
    }
    </style>


    <head>
        <div id="topBar">
            <a href="intro" class="title">General</a>
        </div>
        <br>
        <br>
        <link rel="stylesheet">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <a href="dashboard" id="backButton">Back to Dashboard</a>
        <div>
            <button id="addPostBtn">
                <ion-icon name="chatbox-outline"></ion-icon>
                <span>Write a post</span>
            </button>
        </div>
        <div id="inputBox" class="hidden">
            <form action="/general" method="POST" id="postForm">
                <button id="closeForm">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </button>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                <br><br>
                <label for="content">Write sth: </label>
                <textarea type="text" id="content" name="content" required></textarea>
                <input type="hidden" value="general" name="group">
                <!-- Make sure 'username' is defined and passed to the template -->
                <input type="hidden" value="<%= username %>" name="username">
                <br><br>
                <button class="Btn">Post</button>
            </form>
        </div>
        <div class="bg">
            <div id="posts" class="word-box">
                <% reversedPosts.forEach(post => { %>
                    <br>
                    <div class="posts">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
                    <p>posted by <%= post.username %></p>
                    
                    <br><br><br>
                    <div>
                        <p>posted on <%= post.postingtime %></p>
                    </div>
                    <br>
                    
                    <% if(post.username === username && username != 'admin1' && username != 'Admin') { %>
                        <form action="/generalDeletePost" method="POST" id="deletePost">
                            <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                            <button class="Btn">Delete Post</button>
                        </form>
                    <% } if(username == 'admin1' || username == 'Admin') {%>
                        <form action="/generalDeletePost" method="POST" id="deletePost">
                        <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Assuming each post has an ID -->
                        <button class="Btn">Admin Delete</button>
                    </form> 
                    <% }%>

                </div>
                    <form action="/likeGeneralPost" method="POST" id="likePost" class="like-form">
                        <input type="hidden" name="postId" value="<%= post.id %>">
                        <input type="hidden" name="username" value="<%= username %>">
                        <input type="hidden" name="forum" value="general">
                            <% var isLiked = false %>
                            <% generalPostsLikes.forEach(like => { %>
                                <% if(like.username == username && like.postId == post.id) { %>
                                    <% isLiked = true %>
                                <% } %>
                            <% }) %>
                            <% if(isLiked) { %>
                                <button class="heart-button"><ion-icon name="heart"></ion-icon></button>
                            <% } else {%>
                                <button class="heart-button"><ion-icon name="heart-outline"></ion-icon></button>
                            <% } %> 
                      
                    </form>
                    <div>
                    <%var likes = 0 %>
                    <% generalPostsLikes.forEach(like => { %>
                        <% if(like.postId == post.id) { %>
                            <% ++likes %>
                        <%  } %>
                    <% }) %>

                    <h1 class="postLikes"><%= likes %></h1>

                    <!--<% generalPostsLikes.forEach(like => { %>
                            <% if(like.username == username && like.postId == post.id) { %>
                                <h3 class="Liked">Liked!</h3>
                            <% } %>
                    <% }) %>-->

                   <% })%>
                    </div>
            </div>
        </div>
        <script>
            document.getElementById("addPostBtn").addEventListener("click", function() {
                document.getElementById("inputBox").classList.remove("hidden")
            })

            document.getElementById("closeForm").addEventListener("click", function() {
                document.getElementById("inputBox").classList.add("hidden")
            })

        </script>
        <div id="spacing"></div>
    </body>
</html>